.btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 40px;  
    height: 60px;
    background-color: #d60b42;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 19px 25px rgb(10 10 51 / 4%);
    &:disabled {
        opacity: .5;
    };
    @media (max-width: 425px) {
        width: 100%;
    }    
}

.btn-link {
    border: none;
    outline: none;
    cursor: pointer;
    // padding: 15px 40px;  
    // height: 60px;
    background-color: transparent;
    color: #d60b42;
    font-weight: 500;
    border-radius: 10px;
    @media (max-width: 425px) {
        width: 100%;
    }    
}