.card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &-active {
        font-weight: 900;
    }
    &-blue {
        background-color: #655fb1;
        color: white;        
    }
}

.hidden {
    display: none;
}

.user-done {
    // color: green;
}

.check {
    color: gray;
    &-done {
        color: #655fb1;
    }
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline-color: #655fb1;
}

img {
    width: 50%;
    @media (max-width: 425px) {
        width: 100%;
    }
}



.logo_block {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
};

.logo {
    font-weight: 900;
    font-size: 18px;
}

.logo-red {
    color: #d60b42;
}

.logo-blue {
    color: #655fb1;
};

.block {
    max-width: 425px;
}