.card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &-active {
        font-weight: 900;
    }
    &-blue {
        background-color: #655fb1;
        color: white;        
    }
}

.hidden {
    display: none;
}

.user-done {
    // color: green;
}

.check {
    color: gray;
    &-done {
        color: #655fb1;
    }
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline-color: none;
    border: none;
}

img {
    width: 50%;
    @media (max-width: 425px) {
        width: 100%;
    }
}



.logo_block {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
};

.logo {
    font-weight: 900;
    font-size: 18px;
}

.logo-red {
    color: #d60b42;
}

.logo-blue {
    color: #655fb1;
};

.block {
    max-width: 425px;
}


.indicators_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
};





.indicators_text {
    // color: gray;
    font-size: 16px;
};

.indicators_today {
    margin: 10px 0;
    // color: black;
    font-weight: 500;
    font-size: 16px;
};

.indicators_points {
    // color: gray;
    font-size: 20px;
};


.kpi_blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    color: gray;
    margin-bottom: 20px;
}

.kpi_block {
    border-radius: 20px;
    padding: 20px;   
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.circle {
    height: 50px;
    width: 50px;
    margin-right: 20px;
};

.plus {
    font-size: 36px;
    color: #d60b42;
    font-weight: 500;
}

.emoji_block {
    background-color: #eff2f5;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.right-border {
    border-right: 1px solid lightgrey;
};



a {
    color: gray;
}