@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&display=swap');
@import './variables.scss';

body {
    margin: 0;
    // font-family: 'Montserrat', sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

.bold {
  font-weight: 700;
  // font-size: large;
}
  
// code {
//     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//       monospace;
// }


h1 {
    font-size: 48px;
    @media (max-width: 425px) {
      font-size: 24px;
    }
}

h2 {
    font-size: 36px;
    // color: #292d34;
    @media (max-width: 425px) {
      font-size: 24px;
    }
}

.heading {
  font-size: 36px;
  font-weight: 500;
  @media (max-width: 425px) {
    font-size: 24px;
  }
}

.text-medium {
  font-size: 20px;
}

.font-gray {
  color: gray;
}

.green {
  color: green;
};

.red {
  color: $color-red;
};