.wrapper {
    max-width: 1200px;
    height: 100%;
    padding: 30px 15px;
    margin: 0 auto;
};

.wrapper-width {
    padding: 0 15px;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
};

.phone_img {
    width: 150px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
};

.flex-center {
    display: flex;
    align-items: center;
}

.center {
    margin: 0 auto;
};

.posts {
    border-radius: 20px;
    background-color: white;
}

.mt {
    &-10 {
        margin-top: 10px;
    };
    &-20 {
        margin-top: 20px;
    };
    &-40 {
        margin-top: 40px;
    };
    &-60 {
        margin-top: 60px;
    };
    &-80 {
        margin-top: 80px;
    };
};

.mb {
    &-20 {
        margin-bottom: 20px;
    };
    &-40 {
        margin-bottom: 40px;
    };
    &-60 {
        margin-bottom: 60px;
    };
    &-80 {
        margin-bottom: 80px;
    };
};


// // .logo_block {
// //     height: 100px;
// // }

// .width-400 {
//     width: 400px;
// }

