.landing_card {
    padding: 24px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    cursor: pointer;
}

.icon {
    font-size: 64px;
}

.heading {
    font-weight: 900;
}

.text {
    color: gray;
    // font-weight: 300;
}