

section {
    // min-height: 100vh;
    padding: 40px 0;
}

.height {
    &-full {
        height: 100vh;
    }
}

.blue {
    background: #667db6; 
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);     
    color: white;
}

.gray {
    background: #eff2f5 
}